.a{
	width: 100px;
	height:100px;
	background-color: pink;
}
.a1{
	position: relative;
	left:100px;
	width: 100px;
	height:100px;
	background-color: blue;
}
.a2{
	width: 100px;
	height:100px;
	background-color: green;
}