.a{
	font-size: 34px;
font-family: 'Roboto', sans-serif;
}
.b
{
	font-size: 34px;
font-family: 'Lato', sans-serif;
}
.c{
	font-size: 34px;
font-family: 'Pacifico', cursive;
}
.d
{
	font-size: 34px;
	font-family: 'Knewave', cursive;

}
.e{
	font-size: 34px;
	font-family: 'Monoton', cursive;

}
.f{
	font-size: 34px;
	font-family: 'Great Vibes', cursive;
}
.g
{
	font-size: 34px;
	font-family: 'Libre Barcode 128 Text', cursive;

}
.h
{
	font-size: 34px;
	font-family: 'Martel', serif;
}